@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    list-style-type: none; 
    outline: none;
}

h1{
    font-size: 3.4rem;
    font-weight: 200;
}

h2{
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -1px;
}

a,
a:visited{
    color: black;
    text-decoration: none;
}

p{
    /* espace entre les lignes */
    line-height: 30px;
    margin: 20px 0;
    /* margin,la hauter du text et image */
}

.button{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 13px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font: 700 0.75rem "source sans Pro";
    transition: 0.3s;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
.button:hover,
footer a:hover{
    border: 1px solid skyblue;
    color: slateblue;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
  
}

header{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-banner{
    background: url(../img/banner.jpg)  fixed right/cover;
}

/* section1 */

.section-1,
.section-2,
.contact{
    box-shadow: inset 0 1px 0 rgba(43, 4, 4, 0.082);
}
.section-1{
    display: grid;
    grid-template-columns: 37% 57%;
    min-height: 400px;
}

.section-1 .img{
    background: url(../img/img-left.jpg)  center/cover;

}

.section-2{
    display:grid ;
    grid-template-columns: 65% 35%;
    min-height: 400px;
}

.section-2 .img{
    background: url(../img/img-right.jpg)  center/cover;
}


/* CONTACT */

.contact{
    text-align: center ;
    padding: 60px 0;
}

.form-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 224px;
    grid-template-areas:
    "input1  input2" 
    "textarea textarea";
    gap:10px;
    /* l espace entre message et input gap */
    width: 85%;
    margin: 30px auto;
  
}

.textarea{
    grid-area: textarea;
}

label{
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

input[type="text"],
input[type="email"],
textarea{
    width:100% ;
    margin: 20px 0 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
    border: 1px solid skyblue;
}

textarea{
    resize: none;
    height: 180px;
}
/* .......................FOOTER........................... */

footer{
    padding: 70px 0 90px;
    position: relative;
}

footer::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 10px;
    background: rgba(0, 0, 0, 0.082);
    left: 50%;
    transform: translate(-50%);
    top: 0 ;
}

footer ul {
    display:flex ;
    justify-content: space-between;
    width: 33%;
    margin: 0 auto;
    min-width: 300px;
}

footer a {
    border: 1px solid#ccc;
    /* border 1px agit sur la forme des elements */
    border-radius: 50%;
    width: 44px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}

/* ---------------RESPONSIVE--------------------------------- */

@media screen and (max-width : 650px) {
    header,
    .section-1,
    .section-2{
        display: block;
    }
    header .img-banner{
        height: 50vh;
        margin-top: 30px ;
    }
    .container{
        padding: 15px;
    }
    footer a {
        width: 24px;
        height: 30px;
    }

    footer i {
        font-size: 0.7rem;
    }
}